<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0a5090076a59c8aea88d8c6a80502927.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,590},{72,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,78}}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>17a65dd57556b9db26bf9f9ce6f41765.png</key>
            <dict>
                <key>frame</key>
                <string>{{1966,590},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>2ff7f1cb62a47fa4b274e57238088ce3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,767},{72,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,78}}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>362dc925d66bc804aa6b25d26289a8dc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,842},{54,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,60}}</string>
                <key>sourceSize</key>
                <string>{54,60}</string>
            </dict>
            <key>3d94c19929d755bcd1b889434f707c21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,674},{44,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>47eb5790743e4d624b2b5f196c3a579f.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,674},{72,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,78}}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>4c29e3d51ca9cde3608bf764246e9145.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,800},{85,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,78}}</string>
                <key>sourceSize</key>
                <string>{85,78}</string>
            </dict>
            <key>4f9e4f3c6bf58f8f873fce60413adbec.png</key>
            <dict>
                <key>frame</key>
                <string>{{1966,662},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>5a2fff8694d9f98bbf3b38b44b1f9391.png</key>
            <dict>
                <key>frame</key>
                <string>{{1888,590},{72,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,78}}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>607779f3f481904de0190955d4ab1356.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,681},{66,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,80}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>6c7a0f32fcc7b2fdd0b2f062edd514ec.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,682},{102,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,64}}</string>
                <key>sourceSize</key>
                <string>{102,64}</string>
            </dict>
            <key>7644a13309f46dd3bf6fcb3b4560fc96.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{884,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{884,130}}</string>
                <key>sourceSize</key>
                <string>{884,130}</string>
            </dict>
            <key>7b717daaad8cf6b4db12217ca368f5f7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1878,758},{72,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,78}}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>89b3b98958e8f075d7bfe27316c24d5d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,590},{85,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,78}}</string>
                <key>sourceSize</key>
                <string>{85,78}</string>
            </dict>
            <key>948dfa6acc02b3af92d6c95bede378b8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,851},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>ace39a7aa89d02c47918f31b226474e5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,790},{68,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,84}}</string>
                <key>sourceSize</key>
                <string>{68,84}</string>
            </dict>
            <key>b0c451ee5d2d2523cb039c5fa7a68af8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,734},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>cfca3273b8ca4445a41d1696b20ac965.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,851},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>e0ed7f37da2060fe382f9d9e1d37a3e9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,590},{86,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,78}}</string>
                <key>sourceSize</key>
                <string>{86,78}</string>
            </dict>
            <key>e616a5909ce2adba4e25b9e031f88b41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,682},{112,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,48}}</string>
                <key>sourceSize</key>
                <string>{112,48}</string>
            </dict>
            <key>ea359b6fa45f4ec98b16f65c652189fd.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,4},{1440,680}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1440,680}}</string>
                <key>sourceSize</key>
                <string>{1440,680}</string>
            </dict>
            <key>effef8f8c30bc427028daba6dc9c0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,690},{1496,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1496,190}}</string>
                <key>sourceSize</key>
                <string>{1496,190}</string>
            </dict>
            <key>f0920d460e68a5860987d0596977650d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,590},{86,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,50}}</string>
                <key>sourceSize</key>
                <string>{86,50}</string>
            </dict>
            <key>f61f4553ff69edd5684fbb442258f67b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,4},{580,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,450}}</string>
                <key>sourceSize</key>
                <string>{580,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>__frame_1.png</string>
            <key>size</key>
            <string>{2040,900}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73c304597b036be4b5d33b504f76bdf6:1/1$</string>
            <key>textureFileName</key>
            <string>__frame_1.png</string>
        </dict>
    </dict>
</plist>
